.not-ready{
    background-color:#222222;
    opacity:0.5;
}
.not-ready-p{
    text-align:left;
    color:#ff4444;
    font-size:14px;
    margin:8px 0px;

}
.idol-items{
    background-color:rgba(0,0,0,0);
    cursor:pointer;
}