.video-loading-container{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width:100% !important;
    height:100%;
    background-color:#ffffff;
    z-index:1000000;
}
.video-loading-container.video-loading--background{
    z-index:-1;
    background-color:#222222;
    margin:0px;
    box-sizing: border-box;
    max-width:100% !important;
}
.video-loading-container.loading-middle{
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}
.video-loading-container .video-loading-box{
    position:relative;
    width:600px;
}
.video-loading-container .video-loading-box .video-loading-title{
    font-size:24px;
    color:#007aff;
    text-align:center;
    margin-bottom:24px;
}
div.idol-selector-box{
    position:relative;
    width:100%;
    height:100%;
    border-radius:4px;
    padding:16px;
    border:1px solid #007aff;
}
div.idol-selector-box p.title{
    position:relative;
    width:100%;
    color:#ffffff;
    font-size:24px;
}
div.idol-selector-box-row{
    position:relative;
    overflow:hidden;
    white-space:nowrap;
}
div.idol-selector-box-row div.option-title{
    position:relative;
    display:inline-block;
    vertical-align: top;
    width:84px;
}
div.idol-selector-box-row div.option-title span.option-title{
    position:relative;
    font-size:18px;
    color:#ffffff;
}

div.idol-selector-box-row div.option-list{
    position:relative;
    display:inline-block;
    vertical-align: top;
    width:calc(100% - 84px);
}